# APP
PORT=3000
# development | production
NODE_ENV=development

# LOGGER
# "fatal" | "error" | "warn" | "info" | "debug" | "trace" | "silent"
LOGGER_LEVEL=info
# "json" | "pretty"
LOG_FORMAT=json

# REDIS
REDIS_CONFIG_HOST=127.0.0.1
REDIS_CONFIG_PORT=6379
#seconds
REDIS_TTL=60

DATABASE_URL=postgresql://root@127.0.0.1:26257/defaultdb?sslmode=disable